@model BankOfSimba.Models.BankAccount

    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Client:</h1>
    <p>@Model.Name</p>
    <p>@Model.Balance</p>
    <p>@Model.AnimalType</p>
</body>
</html>