@model ListingTodos.Models.Todos

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit dictionary</h1>
    @using (Html.BeginForm("edit", "todo"))
    {
        <input type="hidden" name="Id" value="@Model.Id" />
        <p>Definition name:</p> @Html.TextBoxFor(x => x.Title)<br />
        <p>Definition description:</p> @Html.TextBoxFor(x => x.Title)<br />
        <button type="submit">Submit</button>
    }
    <h2><a href="">Cancel</a></h2>
</body>
</html>
