@*@model Ex02_GreetSomeone.Models.Greet*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post" action="submit">
        <div>
            <input type="text" name="Name" value="" />
        </div>
        <div>
            <button type="submit" value="Submit">Submit</button>
        </div>
    </form>    
    </body>
</html>

