@model AlpagaDictionary.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./IndexStyleSheet.css" ) />
</head>
<body>
    <h1>Alpaga-Dictionary</h1><br>
    <br />
    <form method="get" action="/user/{userName}/upload">
        <button type="submit" value="AddNew">Add New Definition</button>
        </form>
        <br />
        <h2>Green Fox Academy</h2>
        <p>
            Green Fox Academy in downtown Budapest is the school
            where you can become a Junior Software Developer or
            Junior Hardware Programmer in four months with the help of professional mentors.
            Moreover, once you have successfully graduated, we help you to find your first job.
        </p>
        <br />

</body>
</html>